.contact{
    width: 40%;
    .contact__details{
        @include flexBetween;
        color: $white;
        line-height: 4em;
        p{
            font-size: 25px;
            align-items: center;
        }
    }
    .fw{
        color: $orange;
        font-size: 30px;
    }
    .fw:hover{
        color: $white;
    }
    .fw-links{
        text-decoration: none;
    }
    .fw-links:hover{
        color: $orange;
        text-decoration: none;
    }
}

//Map - contact styling
.contact-map{
    display: flex;
    justify-content: space-evenly;
    margin: 10rem 0;
}
.map iframe{
    border-radius: 16px 0 16px 0;
}

@media (max-width: 1024px){
    .contact-map{
        flex-wrap: wrap;
    }
    .map iframe{
        width: auto !important;
    }
    .contact{
        width: auto;
        flex-wrap: wrap;
    }
}
@media (max-width: 650px){
    .contact{
        padding: 0 10px;
    }
}