
.volunteer{
    @include flexCenter;
    &__form{
        color: $white;
        @include flexColumn;
        margin: 90px 60px 100px $small;
        .field{
            font-family: $font-cabin;
            color: $orange;
            @include flexCenter;
            justify-content: center !important;
            width: 100%;
            &__required::after{
                content: "*";
                color: $white;
            }
            label{
                font-size: 35px;
                line-height: 2em;
                width: 40%;
            }
            input{
                background: $black;
                border: none;
                border-bottom: 2px solid $white;
                width: 300px;
                margin-bottom: $large+$small;
                color: $orange;
                font-size: 30px;
                text-align: center;
            }
        }
        .field-g{
            font-family: $font-cabin;
            color: $orange;
            @include flexCenter;
            justify-content: space-between !important;
            width: 100%;
            font-size: 35px;
            padding: 0 45px;
            line-height: 1.8em;
        }
        .gender{
            @include flexCenter;
            width: 50%;
        }
        .gender-r{
            @include flexCenter;
            width: 100%; 
        }
        .r-c{width: 20px;height: 20px;}
        .field input:focus, textarea:focus, textarea{
            background: $black;
            outline: none;
        }
        .txt-area{
            font-family: $font-cabin;
            color: $orange;
            font-size: 35px;
            @include flexColumn;
            align-items: flex-start;
            line-height: 2em;
            padding: 0 45px;
            width: 100%;
            textarea{
                border: 2px solid $white;
                border-radius: 20px;
                color: $orange;
                margin-bottom: $large;
            } 
        }
        .btn{
            margin: $large+$extra-large 0;
            width: 200px;
            height: 50px;
            border-radius: $extra-medium;
            background: $orange;
            font-size: 30px;
            color: $white;
            font-weight: 800;
            padding: 0;
        }
        .btn:hover{
            background: white;
            color: $orange;
        }
    }
    &__info{
        color: $orange;
        line-height: 1.8em;
        font-size: 22px;
        text-align: justify;
        margin: 10px 40px 10px 10px;
        padding-top: 20px;
        p span{
            color: $white;
            font-size: 28px;
            padding: 30px 0;
            font-weight: 800;
        }
    }
}
@media (max-width: 1024px){
    .volunteer{
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }
    .volunteer__form .field, .field-g{
        @include flexColumn;
        padding: 0;
        margin: 0;
    }
    .volunteer__form .field input{
        text-align: justify;
    }
    .volunteer__form, .volunteer__info{
        margin-right: 0px;
    }
    .volunteer__info{
        padding: 0 15px 0 8px;
    }
    .txt-area{
        margin: 0px;
        padding: 0px;
        align-items: center !important;
    }
    textarea{
        width: 120%;
    }
}