.header-container{
    @include flexCenter;
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color:rgba(241, 97, 41, 0.842);
    .logo{
        margin: $extra-small $extra-medium $extra-small 70px;
        border-radius: 50%;
    } 
}

// .b-m{
//     visibility: hidden;
// }


@media (max-width: 1024px){
    .header-container{
        position: relative;
    }
}
@media (max-width: 650px){
    .header-container .logo{
        margin: 0px;
    }
}

