.header-container{
    @include flexCenter;
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color:rgba(241, 97, 41, 0.842);
    .header__logo a{
        cursor: pointer;
    }
    .logo{
        margin: $extra-small $extra-medium $extra-small 70px;
        border-radius: 50%;
    } 
}
.carousel-item img {
    height: fit-content;
}


@media (max-width: 1024px){
    .header-container{
        position: fixed;
        justify-content: space-between !important;

    }
}
@media (max-width: 650px){
    .header-container .logo{
        margin-left: 30px;
    }
}

