.nav {
    width: 100%;
    &__list{
        width: 100%;
        @include flexCenter;
        list-style: none;
            & li a{
                color: white;
                font-size: 28px;
                font-weight: 700;
                text-decoration: none;
            }
            @keyframes slideIn {
                0% {
                  transform: translateX(20px) scale(.2);
                }
                100% {
                  transform: translateX(0px) scale(1);
                }
              }
    }
}


@media (max-width: 1024px){
    .nav__list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (max-width: 650px){
    .nav{
        width:50%;
    }
}