@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin+Sketch&family=Literata:wght@300&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin+Sketch&family=Italianno&family=Merienda:wght@700&display=swap');

$font-family: "Poppins", sans-serif;
$font-merinda: "Merienda", cursive;
$font-orelega: 'Orelega One', cursive;
$font-blackops: 'Black Ops One', cursive;
$font-serif: 'Literata', serif;
$font-cabin: 'Cabin Sketch', cursive;